@import "@aws-amplify/ui-react/styles.css";
.signin-logo {
  font-family: "hippie-mojo";
  color: #aa7950;
  font-size: 80pt;
  font-weight: 300;
  text-align: center;
}

.signin-beta {
  font-family: "itc-souvenir";
  text-align: center;
  color: #a27a55;
  color: #aa7950;
  font-size: 20pt;
  /*   font-size: 21px; this was also a very pretty size that worked with font size above*/
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: -1.6rem;
}

.signin-info-logo {
  font-family: cursive;
  font-size: 13.5pt;
  font-weight: 600;
  margin-left: 0.245rem;
}

.signin-header-logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #f7f6f0;
  border-radius: 0.7rem 0.7rem 0 0;
  margin-top: -5rem;
  /*   box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px; need this code if I ever decide to add shadow again*/
  padding-bottom: 0.4rem;
}

.background-footer {
  background: #f9f7f3;
}

.amplify-button {
  background: #ad937a;
  background: #aba9a6;
  background: #ad937a;
  border: none;
}

.amplify-button:hover {
  background: gray;
  border: none;
}

[data-amplify-router] {
  box-shadow: none;
  border-radius: 0 0 0.7rem 0.7rem;
}

[data-amplify-form] {
  text-align: left;
}

[data-amplify-authenticator] [data-amplify-router] {
  box-shadow: 0px 0px 0px 0px #f7f6f0;
  background: none;
  border: none;
  padding: none;
  width: 40rem;
  margin-left: -5rem;
}

[data-amplify-container] {
  border: none;
  padding: none;
}

[data-amplify-authenticator][data-variation=modal] {
  background: #e7e6e0;
  background: url(../../assets/images/Background-2.jpeg);
  background-size: 100% 100%;
}

.amplify-input.amplify-field-group__control {
  background: #dedede;
  background: white;
  background: none;
  border-bottom: 1px solid grey;
  padding-left: 0;
  box-shadow: none;
}

.amplify-input {
  border-radius: 0px 0px 0px 0px;
}

.amplify-field-group__control.amplify-field__show-password {
  color: #dddddd;
  background: none;
  height: 2.6rem;
  border-bottom: 1px solid gray;
  border-radius: 0px 0px 0px 0px;
}

.amplify-button.amplify-field-group__control.amplify-button--primary.amplify-button--fullwidth {
  color: #272626;
  color: white;
  background: linear-gradient(-45deg, #edebe0, #1c1c1b);
  animation: gradient 4s ease infinite;
  background-size: 100% 100%;
  height: 5vh;
  background: #b48f6e;
  background: #e8e6da;
  background: #cec4af;
  border: none;
  text-align: center;
}

[data-amplify-authenticator] {
  opacity: 1;
}

[data-amplify-router-content] {
  box-shadow: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.amplify-tabs-item[data-state=inactive] {
  color: #181a1d;
  background: #cec4af;
  background: #b48f6e;
  background: rgb(165, 123, 85);
  background: #d9d6cc;
  background: #a3774d;
  background: none;
  background-size: 100% 100%;
  border: none;
  text-align: left;
}

.amplify-tabs-item:first-child {
  font-size: 50px;
  font-weight: 400;
}

.amplify-tabs-item[data-state=active] {
  text-align: left;
  border: none;
}

.amplify-tabs {
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: none;
  padding-left: 1rem;
  display: none;
}

.create-account-form {
  text-align: center;
}

.create-account-form-button {
  font-weight: 700;
  display: inline;
  text-decoration: none;
  color: gray;
}

a {
  text-decoration: none;
}

.amplify-form-section-header-create-account {
  display: none; /* Hide the original "Create Account" text */
}
.amplify-form-section-header-create-account::after {
  content: "Don't have an account? Create one"; /* Your custom text */
  display: inline-block;
  margin-left: 5px; /* Add some spacing if needed */
}

.amplify-alert--error {
  color: #4e443c;
  background: none;
}

.amplify-alert {
  align-items: left;
  justify-content: left;
  padding-block: 0px;
  padding-inline: 0px;
}

.amplify-button--link {
  background: none;
}

.amplify-button--link:hover {
  background: none;
}

.email-label {
  display: none;
}

.login-title {
  color: #393737;
  color: #4e443c;
  color: #aa7950;
  font-size: 20pt;
  font-family: "itc-souvenir";
  margin-left: 2rem;
  margin-bottom: -1.1rem;
  text-align: left;
}

.reset-password-title {
  color: #393737;
  color: #4e443c;
  color: #aa7950;
  font-size: 20pt;
  font-family: "itc-souvenir";
  margin-bottom: -0.7rem;
}

.reset-password-link {
  color: #767676;
  font-size: 16px;
}

.sign-in-return-link {
  color: #1d1c1c;
  color: #4e443c;
  font-size: 16px;
  font-weight: 400;
}

button.amplify-button.amplify-field-group__control.amplify-button--link.amplify-button--small {
  color: #1d1c1c;
  color: #4e443c;
  font-size: 16px;
  font-weight: 400;
}

.signin-info-message {
  position: absolute;
  left: 58vw;
  top: 280px;
  z-index: 1050;
  color: #aa7950;
  font-family: "Helvetica Neue";
  font-size: medium;
  font-weight: 500;
}

.signup-brand-form-link {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: -1rem;
  color: #4e443c;
  font-family: "Helvetica Neue";
  font-size: 13pt;
  font-weight: 500;
}

.info-wrapper {
  /* Other styles for info-wrapper and Tidio widget positioning */
}

.chat-now-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Inter";
  font-size: 14pt;
  font-family: "Helvetica Neue";
  font-weight: 400;
  color: #494948;
  color: #5d5a54;
  color: black;
  display: flex;
  height: 100%;
}

.chat-icon {
  margin-left: 0.5rem;
  color: #b67138;
  color: #a6a6a6;
  color: #939392;
  color: #f23e06;
  color: #882e2a;
  color: #d1ccc8;
  color: #c49d7d;
  color: #c3c1c1;
  color: #ffa177;
  color: #f0b46e;
  color: #ecae7c;
  color: #ffa07a;
  color: rgb(171, 124, 82);
  color: #a89f9f;
  color: rgba(210, 202, 202, 0.5);
  color: #6070d2;
  color: rgb(193, 190, 190);
  color: #007afe;
}

.info-logo {
  cursor: pointer;
}

.info-icon {
  width: 12px;
  height: 12px;
  transform: rotate(3deg);
  color: #b18261;
  color: #ba8b6c;
}

.fill-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2000000;
}

.custom-signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
}

.signin-form {
  width: 100%;
  text-align: center;
  width: 35rem;
  margin-top: 6rem;
}

@media screen and (max-width: 600px) {
  .signin-form {
    width: 21rem;
    margin-top: 4.5rem;
  }
  .forgot-password-text {
    width: 21rem;
    margin-top: 2.7rem;
    margin-bottom: 5rem;
  }
}
.signin-header {
  font-size: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.signin-header button {
  border-radius: 40px;
  background: rgba(185, 173, 163, 0.5);
  background: linear-gradient(135deg, rgb(161, 140, 209), rgb(251, 194, 235));
  background: #c9bfad;
  background: #e9bd6c;
  background: #d6d4d5;
  background-image: radial-gradient(103.73% 266.85% at 0% 16.08%, #e69b26, #f0b46f) !important;
  background: #ebbc6d !important;
  background-image: radial-gradient(103.73% 266.85% at 0% 16.08%, #f0b46f 38.44%, #ecae7c 100%) !important;
  background: #ecae7c !important;
  background: #f0b46e !important;
  background: #d1ccc8 !important;
  background: none !important;
  border: 1.5px solid #42265a;
  border: 1.5px solid #ffffff;
  color: #007aff;
  font-family: "Helvetica Neue";
  font-size: 15px;
  padding: 10px 25px;
  margin-top: 1.5rem;
}
.signin-header button:hover {
  background: #aa9b82;
  background: #a29c93;
  background: #b7b6b6;
  background: #a6a6a6;
  background: rgba(209, 204, 200, 0.8352941176) !important;
  background: rgba(52, 37, 53, 0.5411764706) !important;
  background: #d1ccc8 !important;
  background: rgba(254, 253, 254, 0.3) !important;
}

.signin-title {
  font-family: "itc-souvenir";
  color: #1d1c1b;
  font-size: 46px;
  text-align: left;
}

.signup-title {
  font-family: "itc-souvenir";
  color: #1d1c1b;
  font-size: 46px;
  font-weight: 200;
  text-align: left;
}

.signup-redirect {
  font-family: "Helvetica Neue";
  font-size: 14pt;
  margin-top: 0.5rem;
}

/* Add these styles to your CustomSignIn.css */
.form-group {
  position: relative;
  margin-top: 3.4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* Add the gradient border as a pseudo-element */
}
.form-group::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.05rem; /* Height of the gradient border */
  background: linear-gradient(to right, #aa7950, transparent 25%, #aa7950 50%, transparent 75%, #aa7950); /* Gradient color */
  /* Add animation to the background-position */
  animation: moveGradient 10s linear infinite;
  background-size: 200% 100%; /* Double the width to allow for movement */
}

.form-group-delay {
  position: relative;
  margin-top: 3.4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.form-group-delay::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.05rem; /* Height of the gradient border */
  background: linear-gradient(to right, #aa7950, transparent 25%, #aa7950 50%, transparent 75%, #aa7950); /* Gradient color */
  /* Add animation to the background-position */
  animation: moveGradient 10s linear infinite;
  animation-delay: 2s;
  background-size: 200% 100%; /* Double the width to allow for movement */
}

@keyframes moveGradient {
  0% {
    background-position: 100% 0; /* Start the gradient offscreen to the right */
  }
  100% {
    background-position: -100% 0; /* Move the gradient offscreen to the left */
  }
}
.form-group-sign-up {
  position: relative;
  margin-top: 2.8rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* Add the gradient border as a pseudo-element */
  border-bottom: 1px solid rgb(38, 35, 43);
}

.form-label {
  position: absolute;
  transition: transform 0.2s ease, font-size 0.2s ease, top 0.2s ease;
  pointer-events: none;
  font-size: 14px; /* Reduce label font size for a smaller label */
  color: #333; /* Change label color */
}

.custom-form-input {
  width: 100%;
  border: none;
  font-size: 16px;
  transition: border-color 0.2s ease;
  border-radius: 0;
  background: none;
}

.custom-form-input:focus {
  outline: none; /* Remove the default outline */
}

.focused-label {
  transform: translateY(-24px) scale(1);
  top: 0;
  font-size: 12px;
}

.signup-button {
  background-color: #aa7950;
  background-color: #ad866a;
  background: #8c8577 !important;
  background: #37272e !important;
  background: #35252d !important;
  color: #fff;
  width: 35rem;
  padding: 15px 0 !important; /* Increase padding for a larger button */
  border: none;
  border-radius: 30px !important;
  font-size: 18px; /* Increase font size */
  cursor: pointer;
  transition: background-color 0.2s ease;
  letter-spacing: 1px;
  font-family: "wintter-test";
  font-weight: 300;
  margin: 3.7rem auto 2.3rem auto; /* Adjusted this line */
}
.signup-button:hover {
  background-color: #cec4af !important;
  background: #8e8e8e !important;
}

.signin-button {
  /*   background-color: #aa7950;
  background-color: #ad866a;
  background: #89874c !important;
  background: #8c8577 !important;
  background: rgb(226, 210, 190) !important;
  background-image: radial-gradient(
    103.73% 266.85% at 0% 16.08%,
    #ecae7c 0%,
    #f0b46f 38.44%,
    #ecae7c 100%
  ) !important;
  background: #35252d !important;
  background: rgb(45, 44, 45) !important; // really like this
  background: rgb(123, 146, 169) !important;
  background: #939392 !important;
  background: #37272e !important;
  background: #c6a884 !important; */
  background: linear-gradient(90deg, #b07849, #e1d6cd) !important;
  background: linear-gradient(90deg, #c1895c, #c49d7d, #e1d6cd) !important;
  background-size: 200% 100%;
  animation: gradientMove 3s infinite alternate;
  border: 1px solid rgb(219, 219, 219) !important;
  box-shadow: 0 2px 4px rgba(185, 182, 182, 0.1) !important;
  color: #fff !important;
  border: none;
  border-radius: 30px !important;
  cursor: pointer;
  margin: 5rem auto 0 auto; /* Adjusted this line */
}
@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
.signin-button:hover {
  background-color: #cec4af !important;
  background: #8e8e8e !important;
}
.signin-button .bouncing {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}
.signin-button .circle {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin: 0 4px;
  animation: loading 1s linear infinite;
}
.signin-button .circle:nth-child(1) {
  animation-delay: 0s;
}
.signin-button .circle:nth-child(2) {
  animation-delay: 0.2s;
}
.signin-button .circle:nth-child(3) {
  animation-delay: 0.5s;
}
@keyframes loading {
  0%, 100% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-9px);
  }
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* Additional styles for Sweetgreen-like form */
.custom-form-input::placeholder {
  color: #8c8c8c; /* Placeholder text color */
}

.forgot-password-text {
  margin-top: 2.7rem;
  margin-bottom: 5rem;
  text-align: left;
}

.forgot-password-redirect {
  border: none;
  background: none;
  text-decoration: underline;
}

.password-toggle-button {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right position to align the button */
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  z-index: 1;
}

.password-toggle-button:focus {
  outline: none; /* Remove the default outline */
}