.forgot-password {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .forgot-password-container {
    padding: 0 2rem; /* Adjust padding for smaller screens */
  }
}

.forgot-password-container {
  width: 100%;
  padding: 0 10rem;
  margin-top: 6rem;
}

/* Button Styling */
.forgot-password-button {
  display: block;
  margin: 0 auto;
  padding: 10px 100px;
  background-color: #cec4af;
  margin-top: 2rem;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "wintter-test";
  letter-spacing: 0.2px;
}

/* Add hover effect to the button */
.forgot-password-button:hover {
  background-color: #aa7950; /* Darker shade of blue on hover */
  color: #fff;
  text-decoration: none;
}

.signin-link-text {
  text-decoration: underline;
}
