.home {
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lightning-arrow {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 10rem;
  left: 0; /* Position it on the left side */
  margin-left: 5rem;
  margin-bottom: 2rem;
  transform: rotate(-5deg);
}

.home-search-container {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding: 2rem;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .home-search-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 1.2rem;
  }
}
.home-search-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative; /* Add this for positioning */
  align-items: center;
  /* Add the gradient border as a pseudo-element */
  /* Define the animation keyframes */
}
.home-search-form::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.07rem; /* Height of the gradient border */
  background: linear-gradient(to right, #aa7950, transparent 25%, #aa7950 50%, transparent 75%, #aa7950); /* Gradient color */
  /* Add animation to the background-position */
  animation: moveGradient 10s linear infinite;
  background-size: 200% 100%; /* Double the width to allow for movement */
}
@keyframes moveGradient {
  0% {
    background-position: 100% 0; /* Start the gradient offscreen to the right */
  }
  100% {
    background-position: -100% 0; /* Move the gradient offscreen to the left */
  }
}

.home-search-input-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.home-search-input {
  border: none;
  color: #8e8e8e;
  color: #b7b1a7;
  color: #37252c;
  outline-width: 0;
  font-size: 18pt;
  font-size: 22px;
  background: none;
  flex: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}
.home-search-input:focus {
  outline: none;
  -webkit-appearance: none;
}

.placeholder-blink {
  animation: blink 1s infinite;
  display: inline-block;
  background-color: black;
  background-color: #a6a6a6;
  background-color: #bdb8b0;
  height: 1.8em; /* Adjust based on the font size of your input field */
  width: 0.09em;
  margin-right: -2px;
}

.home-search-input-container:focus-within .placeholder-blink {
  display: none;
}

.x-search-button {
  border: none;
  background: none;
  color: #aa7950;
  margin-top: 1rem;
}

.magnifying-glass {
  width: 2rem;
  height: 2rem;
  margin-right: 0.1rem;
}

@keyframes subtleAnimation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.QR-code {
  width: 50px;
  height: auto;
  position: absolute;
  left: auto;
  right: 0;
  transition: transform 0.3s ease;
  margin-top: -15px;
}

.QR-code:hover {
  animation: subtleAnimation 3s ease infinite;
  transform: scale(1.12); /* Larger size */
}

.microphone {
  width: 1.3rem;
  height: 1.3rem;
  color: #36252d;
  color: #8c8577;
  color: #56466b;
  color: #ab68ff;
  color: #42265a;
  color: #36252c;
  color: #33232e;
}

.QR-link {
  font-family: "neutra-text-2";
  display: inline-block;
  width: 8rem;
  font-size: 15px;
  color: #aa7950;
}

/* Media query for iPad screens */
@media (max-width: 1024px) {
  .home {
    background-size: cover; /* Crop width for iPad screens */
  }
}
/* Media query for iPhone screens */
@media (max-width: 768px) {
  .home {
    background-size: cover;
  }
}
.home-search-input-container {
  position: relative;
}

.placeholder-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  font-size: 17px;
  color: #8e8e8e;
  color: #757474;
  color: #bdb8b0;
  color: #a6a6a6;
  color: #b7b1a7;
  margin-left: 0.2rem;
  color: #37252c;
  color: rgb(188, 184, 184);
}

/* styles/header/search/search.css or another appropriate file */
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.cursor-blink {
  display: inline-block;
  width: 1ch; /* approximate width of one character */
  animation: blink 0.7s infinite;
  text-align: center;
}

.placeholder-animation {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  pointer-events: none;
  transition: opacity 0.1s ease, transform 0.1s ease;
}

.top-brands-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 330px;
  width: 100%;
  overflow-y: scroll;
  margin-top: 1.7rem;
  margin-bottom: 5.5rem;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.top-brands-icons::-webkit-scrollbar {
  width: 0.2em;
  display: none;
}
.top-brands-icons::-webkit-scrollbar-track {
  background: rgb(204, 204, 204);
  border-radius: 100vw;
  margin-block: 0.1em;
  background-color: darkgrey;
}
.top-brands-icons::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  background: url("../../assets/images/swirl.jpg");
  background: #ad937a;
  background: #c9bfad;
  background-color: rgba(55, 37, 44, 0.44);
  background: #d4aa70;
  background-size: 40px 100px; /* Adjust to desired size */
  background-repeat: cover;
  border-radius: 100vw;
  background: #806a6a;
  border: 6px solid rgba(0, 0, 0, 0.2);
}

.top-brands-avatar-wrapper {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e7e6e0;
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 2.8rem 1rem 2.8rem 0;
}
.top-brands {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 2.5rem;
  padding: 0 2rem;
  /*   border-radius: 0.2rem;
  background: rgba(222, 220, 207, 0.3);
  box-shadow: 0 0.75rem 2rem 0 rgba(129, 122, 122, 0.06); */
}

@media (max-width: 768px) {
  .top-brands {
    padding: 0 1.5rem;
  }
}
.top-brands-earth {
  position: fixed;
  margin-top: -6rem;
  width: 600px;
  height: 600px;
  z-index: -2;
}

.top-brands-blob {
  position: fixed;
  margin-top: -6rem;
  width: 600rem;
  height: 600rem;
  opacity: 0.8;
  z-index: -2;
  border-radius: 50%;
  background: #ececec;
}

.eye-world {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 12rem;
  left: 0; /* Position it on the left side */
  margin-left: 5rem;
  transform-origin: center center; /* Set the transform origin to the top left corner */
  animation: rotateAnimation 6s infinite alternate;
  transform-style: preserve-3d; /* Add this to make the animation rigid */
  margin-top: 5rem;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate3d(0, 0, 1, -15deg); /* Start at 0 degrees */
  }
  100% {
    transform: rotate3d(0, 0, 1, 15deg); /* End at 20 degrees */
  }
}
.shooting-star {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 9rem;
  right: 0; /* Position it on the left side */
  margin-right: 5rem;
  transform-origin: center center; /* Set the transform origin to the top left corner */
  animation: smallerrotateAnimation 12s infinite alternate;
  transform-style: preserve-3d; /* Add this to make the animation rigid */
  margin-top: 10rem;
}

@keyframes smallerrotateAnimation {
  0% {
    transform: rotate3d(0, 0, 1, -5deg); /* Start at 0 degrees */
  }
  100% {
    transform: rotate3d(0, 0, 1, 5deg); /* End at 20 degrees */
  }
}
.top-brands-title {
  width: 100%;
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "itc-souvenir";
  font-size: 36px;
  color: #1d1c1b;
  color: #1d1c1b;
  color: #36252c;
  color: #35252d;
  color: black;
  font-size: 18px;
  /*   letter-spacing: 0.2px; */
}

.top-brands-sort-select-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "neutra-text";
  color: #c1bcbc;
  color: #8e8e8e;
}

.top-charts-sort-button {
  border: 0.07rem solid #dedede;
  background: none;
  color: #1a1a1a;
  color: #272727;
  background: rgb(231, 228, 228);
  background: #e7e6ec;
  background: rgba(214, 212, 213, 0.5);
  background: #cfcbc9;
  background: #bcb2ab;
  background: #e2dedc;
  background: none;
  border: 1px solid #aa7950;
  border: none;
  color: #aa7950;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: #c1bcbc;
  color: #272727;
  color: rgb(188, 184, 184);
  color: #272727;
  margin-top: 5px;
}
.top-charts-sort-button.active {
  background: #bdb7ad;
  background: linear-gradient(110deg, #b07849, #e1d6cd);
  background: none;
  border: 1px solid #cccaca;
  border: none;
  background: #cccaca;
  color: rgb(20, 19, 19);
  color: #36252d;
  color: #0f65d0;
  color: #4caf50;
  color: #76073f;
  color: rgb(93, 7, 54);
  color: #ffa07a;
  color: #e13500;
  color: #aa7950;
  color: #ab7a4f;
  color: #bc8e71;
  background: none;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.top-charts-sort-button:hover {
  background: #8fcf8f;
  background: #c4cbb6;
  background: #5bab5c;
  background: #aa7950;
  background: #493b41;
  background: #92c893;
  background: linear-gradient(135deg, rgb(161, 140, 209), rgb(251, 194, 235));
  background: rgb(184, 140, 209);
  background: #e6e4db;
  background: rgb(167, 151, 129);
  background: #bcb2ab;
  background: #ba9169;
  background: #525350;
  background: linear-gradient(110deg, #b07849, #e1d6cd);
  background: #dbdada;
  border: 1px solid #dbdada;
  border: none;
  background: none;
  color: #aa7950;
  color: #ffa07a;
  color: #a87f65;
}

.divider {
  color: rgb(193, 190, 190);
  color: #37252c;
  margin-top: 7px;
}

.select-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  display: flex;
}

.top-brands-counter {
  color: #8e8e8e;
  color: #2a2c32;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 23px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.top-eye-brands-icon {
  width: 16px;
  height: 13px;
  color: #b7b1a7;
  margin-top: 9px;
}

.gradient-star {
  width: 20px;
  height: 20px;
  margin-right: 0.1rem;
}

.top-brands-name {
  display: flex;
  align-items: center;
  font-family: "sofia-pro", sans-serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #37252c;
  font-size: 16px;
  font-weight: 500;
}

.top-brands-username {
  margin-left: 0.8rem;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  color: rgb(23, 21, 21);
  background-color: rgba(57, 50, 52, 0.8);
  background: #7e6f5d;
  background-color: rgba(55, 37, 44, 0.59);
  background-color: rgba(113, 112, 112, 0.59);
  background-color: rgba(113, 112, 112, 0.79);
  background: rgba(183, 179, 172, 0.8);
  background-color: rgb(113, 112, 112);
  background: rgba(231, 230, 224, 0.8);
  background: rgba(176, 176, 171, 0.8);
  background: rgba(139, 133, 120, 0.8);
  background: rgba(108, 112, 114, 0.7);
  background-size: cover;
  font-family: "wintter-test";
  font-size: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-background {
  position: fixed;
  z-index: -250;
  width: 100%;
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  margin-top: 13.5rem;
}

.popup-image {
  position: fixed;
  width: 520px;
  height: 520px;
  z-index: -20;
  animation-name: rotateHexagon;
  animation-duration: 9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.welcome-earth {
  position: fixed;
  width: 450px;
  height: 480px;
  z-index: -25;
  animation-name: rotateHexagon;
  animation-duration: 9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes rotateHexagon {
  0% {
    transform: scale(1) rotate(-18deg);
  }
  25% {
    transform: scale(1) rotate(7deg);
  }
  50% {
    transform: scale(1) rotate(-7deg);
  }
  75% {
    transform: scale(1) rotate(-7deg);
  }
  100% {
    transform: scale(1) rotate(18deg);
  }
}
.popup button {
  background-color: #f1f1f1;
  background: #ddd;
  color: rgb(23, 21, 21);
  color: #5b584a;
  color: #3c2b32;
  background: #e6e4db;
  background: linear-gradient(45deg, #bda592, #e6e4db);
  background: linear-gradient(135deg, #f0d585, #f0e6b8);
  background: linear-gradient(135deg, #e69b26, #f0e6b8);
  background: linear-gradient(135deg, rgba(230, 160, 38, 0.737254902), #f0e6b8);
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "hippie-mojo";
  font-size: 30px;
  font-size: 40px;
  animation: gradientAnimation 5s linear infinite;
  text-align: center;
}
.popup button:hover {
  background: #d6d4d5;
  background: #c043d1;
  background: linear-gradient(135deg, rgb(161, 140, 209), rgb(251, 194, 235));
  background: #8c8577;
  background: #28202f;
  background: linear-gradient(135deg, #f0d585, #f0e6b8);
  background: linear-gradient(135deg, #f0e6b8, #f0d585);
  background: #f0d585;
  background: none;
  color: rgb(23, 21, 21);
}

.welcome-info {
  font-family: "itc-souvenir";
  width: 390px;
  font-size: 23pt;
  color: rgb(23, 21, 21);
  color: grey;
  color: #aa7950;
  color: #36252d;
  color: #181619;
  color: black;
  text-align: center;
}

.welcome-x {
  position: fixed;
  top: 12%;
  right: 25%;
  z-index: 100001;
  color: #ddd;
  width: 30px;
  height: 30px;
}

.welcome-title {
  text-align: center;
  color: #36252c;
  color: #181619;
  font-size: 45px;
  font-family: "wintter-test";
  margin-top: 5.5rem;
}

.logo-gif-popup {
  width: 110px;
  height: 100px;
  margin-top: -2rem;
}

.popup-exit {
  animation: popupExitAnimation 0.6s forwards;
}

@keyframes popupExitAnimation {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(-200%);
    opacity: 0;
  }
}
.popup-hidden {
  display: none;
}

.natural-blob {
  position: fixed;
  width: 470px;
  height: 450px;
  z-index: -15;
  margin-left: -1rem;
  margin-top: 0.2rem;
  border-radius: 50%;
  animation-name: rotateHexagon;
  animation-duration: 9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  opacity: 0.85;
  opacity: 0.92;
}

@media screen and (max-width: 600px) {
  .natural-blob {
    position: fixed;
    width: 370px;
    height: 350px;
    z-index: -15;
    margin-left: 0rem;
    margin-top: 0.2rem;
  }
  .welcome-title {
    font-size: 38px;
    margin-top: 5.7rem;
  }
  .welcome-info {
    font-family: "itc-souvenir";
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 17pt;
    color: rgb(23, 21, 21);
    color: grey;
    color: #aa7950;
    color: #36252d;
    color: #181619;
    color: black;
    text-align: center;
    padding: 0 2rem;
    font-weight: 600;
  }
}
.go-blob {
  width: 90px;
  height: auto;
  color: #8c8577;
  margin-top: 1rem;
}

/* .gradient-icon svg path {
  animation: gradientMove 5s linear infinite;
}

@keyframes gradientMove {
  0% {
    stop-offset: 0%;
  }
  50% {
    stop-offset: 100%;
  }
  100% {
    stop-offset: 0%;
  }
}
 */