@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header {
  /*   height: 5.9rem; // works with font and best header height as of 6/27 */
  height: 5.9rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2em;
  text-align: center;
  background: #f1efe7;
  background: #f2f0ea;
  background: #fffaec;
  background: #f8f6f3;
  background: #f8f4ed;
  background: #f7f6f0;
  background: #f4f2ea;

  background: #faf8e9;
  background: #f2f0e4;
  background: #f7f6f0;
}

.header-logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo {
  font-family: "hippie-mojo";
  font-size: 75px;
  color: #a97a50; // runner up
  color: #a9784f;
  color: #aa7950;
  margin-top: 2rem;
  letter-spacing: 0.2px;
}

.beta {
  font-family: "itc-souvenir";
  text-align: center;
  vertical-align: center;
  color: #a27a55;
  color: #aa7950;
  font-size: 15pt;
  font-size: 21px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: -1.3rem;
}

.info-logo {
  font-family: cursive;
  font-size: 12pt;
  font-weight: 600;
  margin-left: 0.2rem;
}

.info-message {
  position: absolute;
  left: 55vw;
  top: 100px;
  z-index: 1050;
}

.header-search {
  margin-right: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 10rem;
}

.header-icons {
  display: flex;
  width: 10rem;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.bell-icon {
  margin-left: 0.7rem;
}

.sign-in-link {
  color: #5c5848;
}

.sign-in-link:hover {
  color: #b7b1a7;
}

.about-link {
  color: #747474;
  color: #878683;
  font-size: 18px;
  margin-top: 0.1rem;
}

.notifications {
  position: relative;
  display: inline-block; /* Make sure it's an inline block to align the count properly */
}

.notifications-count {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: linear-gradient(135deg, rgb(161, 140, 209), rgb(251, 194, 235));
  box-shadow: rgba(157, 78, 236, 0.5) 0px 2px 16px;
  color: rgb(6, 19, 43);
  position: absolute;
  top: -5px; /* Adjust this value to position it properly */
  right: -5px; /* Adjust this value to position it properly */
  text-align: center;
  font-size: 8pt;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.notifications-container {
  position: fixed;
  top: 5.9rem; /* Height of the header */
  right: 0; /* Initially positioned outside the viewport on the right */
  background: #b7b1a7;
  width: 300px; /* Adjust the width as needed */
  height: calc(
    100% - 5.9rem
  ); /* Set a maximum height based on the viewport height minus header height */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  z-index: 100000;
  transform: translateX(100%); /* Slide out of the viewport initially */
  animation: slideIn 0.5s forwards; /* Apply the slide-in animation */
}

@keyframes slideIn {
  to {
    right: 0; /* Slide in to the right edge of the screen */
    transform: translateX(0);
  }
}
