@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.header {
  /*   height: 5.9rem; // works with font and best header height as of 6/27 */
  height: 5.9rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2em;
  text-align: center;
  background: #f1efe7;
  background: #f2f0ea;
  background: #fffaec;
  background: #f8f6f3;
  background: #f8f4ed;
  background: #f7f6f0;
  background: #f4f2ea;
  background: #faf8e9;
  background: #f2f0e4;
  background: #f7f6f0;
}

.header-logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo {
  font-family: "hippie-mojo";
  font-size: 75px;
  color: #a97a50;
  color: #a9784f;
  color: #aa7950;
  margin-top: 2rem;
  letter-spacing: 0.2px;
}

.beta {
  font-family: "itc-souvenir";
  text-align: center;
  vertical-align: center;
  color: #a27a55;
  color: #aa7950;
  font-size: 15pt;
  font-size: 21px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: -1.3rem;
}

.info-logo {
  font-family: cursive;
  font-size: 12pt;
  font-weight: 600;
  margin-left: 0.2rem;
}

.info-message {
  position: absolute;
  left: 55vw;
  top: 100px;
  z-index: 1050;
}

.header-search {
  margin-right: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 10rem;
}

.header-icons {
  display: flex;
  width: 10rem;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.bell-icon {
  margin-left: 0.7rem;
}

.sign-in-link {
  color: #5c5848;
}

.sign-in-link:hover {
  color: #b7b1a7;
}

.about-link {
  color: #747474;
  color: #878683;
  font-size: 18px;
  margin-top: 0.1rem;
}