@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.announcement-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d7d3d3;
  background: #403f3f;

  border: none;
  height: 0px;
}

.announcement-bar__message {
  text-align: center;
  z-index: 1000;
  width: 100%;
  color: #f1efe7;
}

.scrolling-banner__waves {
  top: 20px;
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  width: 100%;
  margin-top: 16px;
}

.marquee {
  contain: content;
  content-visibility: auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.marquee.absolute {
  position: absolute;
}

.marquee-wrap {
  display: flex;
  flex-wrap: nowrap;
  opacity: 0;
  transform-style: preserve-3d;
  transition: opacity var(--fade-speed);
}

.marquee__scroll {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll-horizontal;
  animation-name: scroll-horizontal;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  transform-style: preserve-3d;
  will-change: transform;
}

is-reverse .marquee__scroll {
  animation-direction: reverse;
}

.marquee__ref,
.marquee__scroll {
  display: inline-block;
  flex: 0 0 auto;
  overflow: hidden;
}

.scrolling-banner__wave-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 12px;
  width: 100vw;
}

.scrolling-banner__wave-group .wave--horizontal {
  flex: 1;
  min-width: auto;
}

.animation-patch {
  transform: scale(1.009);
}
.wave--horizontal {
  min-width: 640px;
  width: 2100px;
}
.wave {
  display: block;
  max-height: 100%;
  max-width: none;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.header {
  /*   height: 5.9rem; // works with font and best header height as of 6/27 */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #f1efe7;
  background: #f2f0ea;
  background: #fffaec;
  background: #f8f6f3;
  background: #f8f4ed;
  background: #f4f2ea;
  background: #faf8e9;
  background: #f7f6f0;
  background: #f2f0e4;
  background: #554f32;
  background: #322f1d;
  background: #f4f1e5;
  background: #fefdf6;
  background: #d7d3d3;
  background: #fefdf7;
  background: #a9784f;
  background: black;
  background: #ece7d1;
  background: #f5f1e5;
  background: #000000;
  background: linear-gradient(to bottom right, #b07849, #8c8577);
  background: linear-gradient(to right, #403f3f, #8c8577);
  background-image: url("../../assets/images/blue-marker.png");
  background: #403f3f;
  background: #f7f6f0;
  background: none;
  // background: #e8e7e4; fave color
  // background: #e4dfdf;
  z-index: 100000;
  height: 5rem;
  padding: 0rem 1.2rem;
}

.header-logo {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: auto;
}

.menu-icon {
  width: 30px;
  height: 30px;
}

$dark: #212121;
$light: #efefef;
$color: #b3e5fc;

@mixin btn($left, $top) {
  width: 10px;
  height: 10px;
  top: $top;
  left: $left;
  transition-duration: 0.5s;
}
@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 30px;
  background-color: $dark;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $dark;
  content: "";
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $dark;
  content: "";
  top: $top;
}

.btn4 {
  @include btn(360px, 100px);

  .icon {
    @include icon(0px, 20px);

    &:before {
      @include icon-before(2px, 18px, -20px);
    }

    &:after {
      @include icon-after(2px, 18px, 20px);
    }
  }

  &.open {
    .icon {
      transition: 0.5s;

      &:before {
        transform: rotateZ(45deg) scaleX(1.25) translate(12px, 12px);
      }

      &:after {
        transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}

.logo-gif {
  width: 120px;
  height: 100px;
}

.logo {
  font-family: "hippie-mojo";
  font-size: 70px; // with hippie mojo
  /* Clip the background to the text */
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 1;
  /* Make the text transparent so the gradient background shows through */
  color: #554f32;
  color: #524b2e;
  color: #ece7d1;
  color: #300510;
  color: #f4f1e5;
  color: #aa7950;
}

.beta {
  font-family: "itc-souvenir-demi";
  text-align: center;
  vertical-align: center;
  color: #a27a55;
  color: #aa7950;
  font-size: 21px;
  font-size: 22px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #8c5223;
  color: #261c17;
  color: #554f32;
  color: #37252c;
  color: #5d5a54;
  color: #b07951;
  color: #9a9791;
  color: #8e8e8e;
  color: #9d9c96;
  color: #8a8a8a;
  color: #554f32;
  color: #666666;
  color: #300510;
  color: #ece7d1;
  color: #524b2e;
  color: #a9784f;
}

.info-logo {
  font-family: cursive;
  font-size: 12pt;
  font-weight: 600;
  margin-top: 0.2rem;
  margin-left: 0.05rem;
}

.info-message {
  position: absolute;
  left: 55vw;
  top: 100px;
  z-index: 1050;
}

.header-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #aba9a1;
  color: #666666;
}

.header-magnifying-glass {
  width: 1.8rem;
  margin-top: -0.3rem;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 10rem;
}

.header-icons {
  display: flex;
  width: 10rem;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.home-button {
  color: #aa7850;
  color: #554f32;
  color: #a9784f;
  color: #554f32;
  color: #ece7d1;
  color: #1d1b1e;
  color: #554f32;
  color: #191919;
  color: #36252d;
  color: #1d1c1b;
  color: #36252d;
  font-family: "neutra-text-2";
  font-size: 20px;
  line-height: 22px;
}

.join-button {
  font-family: "wintter-test";
  color: #aa7850;
  text-align: center;
  margin-top: 0.4rem;
  margin-left: 0.8rem;
}

.bell-icon {
  margin-left: 0.7rem;
}

.signin-signup-links {
  display: flex;
}
.sign-in-link {
  color: #5c5848;
}

.sign-in-link:hover {
  color: #b7b1a7;
}

.about-link {
  color: #747474;
  color: #878683;
  color: #554f32;
  color: #a9784f;
  color: #554f32;
  color: #f4f3ec;
  color: #ece7d1;
  color: white;
  color: #aa7950;
  color: #1d1b1e;
  color: #191919;
  font-size: 20px;
  font-family: "neutra-text";
  font-weight: 500;
  margin-left: 15px;
}

.active-link {
  color: #aa7950;
  font-weight: 500;
}

.notifications {
  position: relative;
  display: inline-block; /* Make sure it's an inline block to align the count properly */
}

.notifications-count {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: linear-gradient(135deg, rgb(161, 140, 209), rgb(251, 194, 235));
  box-shadow: rgba(157, 78, 236, 0.5) 0px 2px 16px;
  color: rgb(6, 19, 43);
  position: absolute;
  top: -5px; /* Adjust this value to position it properly */
  right: -5px; /* Adjust this value to position it properly */
  text-align: center;
  font-size: 8pt;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.notifications-container {
  position: fixed;
  top: 5.9rem; /* Height of the header */
  right: 0; /* Initially positioned outside the viewport on the right */
  background: #b7b1a7;
  width: 300px; /* Adjust the width as needed */
  height: calc(
    100% - 5.9rem
  ); /* Set a maximum height based on the viewport height minus header height */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  z-index: 100000;
  transform: translateX(100%); /* Slide out of the viewport initially */
  animation: slideIn 0.5s forwards; /* Apply the slide-in animation */
}

@keyframes slideIn {
  to {
    right: 0; /* Slide in to the right edge of the screen */
    transform: translateX(0);
  }
}

// Base styles for .wave inside .header-wave
.header-wave {
  .wave {
    margin-left: -0.5rem;
    margin-top: -0.125rem;
    width: calc(125% + 1rem);
    color: transparent;
    transition: 0.5s ease color;

    // Modifier for .sticky-header
    .sticky-header & {
      color: transparent;
      // Other styles specific to .sticky-header can go here
    }
  }
}

// Media query styles
@media screen and (min-width: 45em) {
  .header-wave {
    .wave {
      margin-left: -0.25rem;
      width: calc(100% + 0.5rem);
    }
  }
}

//hamburger menu

$color: #37252c;
$height-icon: 20px;
$width-line: 30px;
$height-line: 2px;
$transition-time: 0.4s;
$rotation: 45deg;
$translateY: $height-icon / 2;

#hamburger-icon {
  width: $width-line;
  height: $height-icon;
  margin: 0;
  position: relative;

  .line {
    display: block;
    background: $color;
    width: $width-line;
    height: $height-line;
    position: absolute;
    left: 0;
    border-radius: $height-line/2;
    transition: all $transition-time;

    &.line-1 {
      top: 0;
    }

    &.line-2 {
      top: 50%;
    }

    &.line-3 {
      top: 100%;
    }
  }

  &:hover,
  &:focus {
    .line-1 {
      transform: translateY($height-line / 2 * -1);
    }

    .line-3 {
      transform: translateY($height-line / 2);
    }
  }

  &.active {
    .line-1 {
      transform: translateY($translateY) rotate($rotation);
    }

    .line-2 {
      opacity: 0;
    }

    .line-3 {
      transform: translateY(-$translateY) rotate(-$rotation);
    }
  }
}
