.dirt-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-top: 2rem;
}

.eye-brands-icon {
  width: 16px;
  height: 14px;
  color: #b7b1a7;
  margin-left: 0.3rem;
}

.edit-dirt {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  align-items: center;
  color: #8c8c8c;
  font-size: 12pt;
  font-weight: 600;
  font-family: "sofia-pro";
}

.brand-length {
  font-family: "wintter-test";
  letter-spacing: none;
  letter-spacing: 1.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 30px;
}

.eye-icon {
  width: 20px;
  height: 15px;
}

.eye-slash-icon {
  width: 20px;
  height: 20px;
}

.featured-brands-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow: visible;
}

.featured-brands {
  /* Adjust the styles for the avatars here */
  position: relative;
  overflow: visible;
}

.side-eye {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  color: #8c8c8c;
  font-size: 12px;
  letter-spacing: 1.2px;
  font-weight: 600;
}

.featured-brands-title {
  font-size: 14pt;
  color: #aa7950;
  font-family: "wintter-test";
  letter-spacing: 0.4px;
  font-weight: 500;
}

.dirt-avatar {
  height: 68px !important;
  width: 68px !important;
  border: 1px solid #dbdbdb;
  position: absolute;
}

@media screen and (max-width: 1024px) {
  .dirt-avatar {
    height: 80px !important;
    width: 80px !important;
  }
}
.dirt-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 7.2rem;
  width: 8.5rem;
  overflow: hidden; /* Hide overflowing text */
  color: #37252c;
  font-size: 10pt;
  text-transform: uppercase;
  font-weight: 600;
}

.text-container {
  width: 100%; /* Ensure the text container takes the full width */
  white-space: wrap; /* Prevent text from wrapping */
  text-align: center;
  text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
  overflow: hidden; /* Hide overflowing text */
  color: #37252c;
}

.text-avatar {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #37252c;
}

.lock-icon {
  position: absolute; /* Set to absolute positioning */
  top: 50%; /* Position it at the vertical center of the container */
  left: 47%; /* Position it at the horizontal center of the container */
  transform: translateX(-47%) translateY(-50%);
}
.lock-icon:hover .hover-text {
  display: block;
}
.lock-icon .hover-text {
  position: absolute;
  top: 100%; /* Position it below the lock icon */
  left: 55%; /* Center it horizontally */
  transform: translateX(-45%);
  display: none; /* Initially hide it */
  border-radius: 4px;
  text-align: center;
  white-space: nowrap; /* Prevent text from wrapping to a new line */
}

.more-dirt {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background: #ddd3c4;
  background: url(../../../assets/images/faintbackground.png);
  background: rgb(219, 211, 198);
  background: rgb(219, 211, 198);
  background: #d4c6af;
  background: #cbb796;
  background: rgb(160, 117, 88);
  background: rgba(163, 123, 86, 0.808);
  background: rgba(174, 168, 159, 0.6039215686);
  background: #aea89f;
  background: rgb(220, 219, 213);
  background: #d0c5b4;
  margin: 0 1rem;
  background: #d4c6af;
  background: rgba(163, 123, 86, 0.808);
  background: #dbd3c5;
  background: #e0d8c7;
  background: rgb(168, 148, 124);
  background: rgba(117, 99, 78, 0.4509803922);
  background: rgb(232, 226, 215);
  background: #817d6c;
  background: #c4bca6;
  background: #eae1c8;
  background: rgba(183, 177, 167, 0.8274509804);
  background: #a89f91;
  background: #e4e2da;
  background: #e0e0d4;
  background: #e9e5dc;
  background: #d1cfc8;
  background: #b7b1a7;
  background-size: 400% 400%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  /*  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
}

.blur {
  filter: blur(4px); /* Apply the desired blur effect */
}

.edit-soil {
  background: #d1cfc8;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-soil-text {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.avatar-container {
  position: relative;
  width: 100%;
  height: 100%;
}