.top-charts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}

.top-charts-title-sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.trending-filter-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 7px;
  font-family: "neutra-text";
  font-family: "sofia-pro";
  color: #67645e;
  margin-top: 2px;
}
.trending-filter-buttons button {
  background: none;
  padding: 0px 10px;
  border: none;
  font-size: 16px;
  color: #272727;
  color: #67645e;
  font-family: "sofia-pro";
  font-weight: 500;
  /* Active state */
  /* Active state */
}
.trending-filter-buttons button:nth-child(1) {
  padding-left: 0px;
}
.trending-filter-buttons button:hover {
  color: #aa7950; /* Change color on hover */
  cursor: pointer; /* Change cursor to a pointer on hover */
}
.trending-filter-buttons button.active {
  color: #aa7950;
  /* Add wavy lines to the active button */
}

.trending-search-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 12px;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
}
.trending-search-container.false {
  border-bottom: none;
}

.trending-search {
  background: none;
  border: none;
  outline: none;
  margin-left: 5px;
}
.trending-search::placeholder {
  position: absolute;
  bottom: 0;
}

.sort-by {
  display: flex;
  flex-direction: row;
}

.brand-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.brand-nav .slider-bar {
  position: relative;
  bottom: -7px;
  height: 0.5px;
  width: 90px;
  transition: transform 0.3s ease-in-out;
}