.brand-dashboard {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 2.5rem;
}

.brand-dashboard-top {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  height: auto;
}

.brand-dashboard-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #272626;
  white-space: nowrap;
  flex: 1;
  margin: 3rem 3.8rem 0 3.8rem; //loved this so much for brand dashboard
  margin: 3rem 3rem 0 3rem; //loved this so much for brand dashboard
}

.brand-dashboard-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  flex: 1.5;
  width: 100%;
  height: auto;
  margin: 3rem 3rem 0 3rem;

  @media screen and (max-width: 600px) {
    margin: 3rem 1.3rem 0 1.3rem;
  }
}

.brand-dashboard-bottom {
  background: none;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 4.5rem 2rem 10rem 2rem;
}
