.parent-brand {
  color: #2f2f2f;
  text-decoration: none;
}

.rankings-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 0.5rem;
}