.portfolio-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.popup-video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gy-4 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.popup-video {
  object-fit: cover; /* Resize video to cover the entire container */
  width: 100%;
  height: 100%;
}

.projects-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.projects-title {
  font-family: "itc-souvenir-demi";
  color: #36252c;
  font-size: 14pt;
  font-weight: 500;
  letter-spacing: 0.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

.question-icon {
  width: 14px;
  height: auto;
}

.card {
  /*   background: rgba(255, 253, 253, 0.2);
   box-shadow: rgba(61, 58, 58, 0.1) 0px 4px 12px;
   background: rgba(255, 253, 253, 0.3);
  */
  position: relative;
  border-radius: 12px;
  display: flex;
  margin: 0 1.1rem 0 0rem;
  border: 1px solid rgb(224, 224, 217);
  border: 1px solid #d6d6d6;
  border: 1px solid #934f93;
  border: 1px solid #d1b4d1;
  border: 1px solid #e7e7e7;
  border: none;
  flex-direction: column;
  height: 200px;
  justify-content: flex-end;
  transition: transform 0.5s ease, opacity 0.5s ease; /* Add opacity transition */
}
.card .overlay-svg {
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 112px;
  height: 112px;
  border-radius: 20px;
  z-index: 2;
}

.card-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url(../../assets/images/card-body.svg);
  /*   background: #ba4d0092;
  background: #a9784f9c;
  background: #be6fcab2;
  background: #be6fcae6;
  background: #efefe8b4;
    background: #f85625c2;
  background: #f856259c;
  */
  z-index: 10000;
  border-radius: 0 0 15px 15px;
  width: 200px;
  background-size: 200px;
  background-repeat: no-repeat;
}

/* .card-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0 0 15px 15px;
  padding: 0 0 0 0; // Adjust the padding as needed
  align-self: flex-end;
  background: #d9cec7; // love this color
  background: #ecedee; // pretty for dark mode
  background: #36252c;
  background: #c8c8c8;
  background: #2f2f2f;
  background: white;
  background: #35252d;
  background: #14242d;
  background-color: #35252ce3;
  background: #3b3b3ad8;
  z-index: 10000;
  width: 200px;
  height: 70px; // Set the desired height

  &::before {
    content: "";
    position: absolute;
    width: calc(100% + 10px);
    top: -8px; // Change this to top to position the border at the top
    left: -5px;
    border-image-source: url(../../assets/images/border-top.svg);
    border-image-slice: 0 0 100%;
    border-image-width: 0 0 15px;
    border-image-repeat: stretch;
    border-width: 15px 0 0; // Adjust only the top border width
    border-top-style: solid; // Set the top border style
    border-color: initial;
    z-index: 20000;
  }
} */
.card-image {
  position: absolute;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.card-footer {
  align-self: flex-end;
  border-radius: 1rem;
}

.slider {
  display: flex;
}

.wellness {
  width: 100%;
  padding: 0 2rem;
}

@media screen and (max-width: 1024px) {
  .wellness {
    padding: 0 1.3rem;
  }
}
.article-button {
  border: none;
  background: none;
  padding: 0.5rem 1rem;
  width: 100%;
}

.read-button {
  padding: 0.2rem 0rem;
  background: #352531;
  background: #d44427;
  background: #cfd342;
  background: #d57bec;
  background: #d9c49c;
  background: #d1a7d8;
  background: rgba(255, 253, 253, 0.6);
  background: rgba(218, 141, 231, 0.884);
  background: rgba(209, 167, 216, 0.8);
  background: rgba(214, 159, 115, 0.7764705882);
  background: rgba(173, 147, 122, 0.7019607843);
  background: rgba(191, 191, 195, 0.7254901961);
  color: rgb(44, 42, 42);
  color: #121207;
  color: #1d1d1f;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  margin-left: auto;
  text-align: center;
  font-family: "sofia-pro";
  font-size: 11pt;
  font-weight: 600;
  z-index: 10;
  position: relative;
  color: white;
  border-radius: 1rem !important;
}

.card-title {
  font-family: "itc-souvenir";
  font-weight: 600;
  font-size: 12pt;
  text-align: left;
  padding: 0 5px;
  color: #f8f6f3;
  z-index: 10;
  position: relative;
  height: 50px;
  padding: 17px 10px 5px 10px;
  letter-spacing: 0.5px;
}

.card-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 !important;
  /* height: 1.2rem; */ /* Remove or adjust this line to allow the text to wrap */
  z-index: 10;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row wrap;
  color: black;
  color: #f8f6f3;
  padding-right: 10px;
  padding-bottom: 5px;
  font-weight: 500;
  /* Add any other styles as needed */
}

.form-button {
  margin-bottom: auto !important;
}

.dot-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.dot {
  height: 0.5rem;
  width: 0.5rem;
  margin: 0.3rem;
  background: rgb(224, 220, 220);
  background: rgb(204, 199, 199);
  background: rgba(170, 121, 80, 0.4392156863);
  background: rgb(213, 210, 210);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 50%;
}
.dot.active {
  background: #adaeb3;
  background: #b2b3b5;
  background: #c69b80;
  background: #b68564;
  background: #afa9a1;
}

.home-arrow-space {
  margin-left: 0.2rem;
  cursor: pointer;
}
.home-arrow-space.initial-scale {
  animation: initialScale 10s forwards;
}
.home-arrow-space.clickable-icon {
  transition: transform 0.2s ease-in-out;
}
.home-arrow-space.clickable-icon:hover {
  transform: scale(1.1);
}

@keyframes initialScale {
  to {
    transform: scale(1);
  }
}
.slides-2 .gy-4 {
  flex-wrap: nowrap;
}

.slides-4 .gy-4 {
  flex-wrap: nowrap;
}

.card-transition {
  opacity: 100;
  transform: translateY(5px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Add another class for completely opaque state */
.card-visible {
  opacity: 1;
}