.about-page {
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  width: 100%;
  padding: 0 3rem;
}
.about-title {
  font-size: 40px;
  font-family: "wintter-test";
  color: #aa7950;
}

.about-page-blurb {
  font-family: "campton-book";
  font-weight: 500;
  font-size: 18px;
  color: #aa7950;
  color: #bdb7ad;
  color: rgb(188, 184, 184);
  color: #36252d;
  color: #b9b4b4; //really pretty color
  color: #525050;
  color: #5d5a54;
  color: #36252c;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  letter-spacing: 0.007em;
  letter-spacing: 0.2px;
}

.about-icons {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.hexagon-gradient-about {
  animation-name: rotateHexagon;
  animation-duration: 9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  width: 125px;
  height: 125px;
}

.info-avatar-wrapper-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.welcome-about {
  font-family: "itc-souvenir-demi";
  color: #bdb7ad;
  color: #aa7950;
  font-size: 30px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  position: relative;
  width: 100%;
  text-align: left;
  padding: 0.4rem 0.2rem;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.08rem; /* Height of the gradient border */
    background: linear-gradient(
      to right,
      #aa7950,
      transparent 25%,
      /* Adjust these percentages to control the movement */ #aa7950 50%,
      /* Adjust these percentages to control the movement */ transparent 75%,
      /* Adjust these percentages to control the movement */ #aa7950
    ); /* Gradient color */

    /* Add animation to the background-position */
    animation: moveGradient 10s linear infinite;
    background-size: 200% 100%; /* Double the width to allow for movement */
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust values for shadow color and size */
    animation-delay: 2s;
  }

  /* Define the animation keyframes */
  @keyframes moveGradient {
    0% {
      background-position: 100% 0; /* Start the gradient offscreen to the right */
    }
    100% {
      background-position: -100% 0; /* Move the gradient offscreen to the left */
    }
  }
}

.earth {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.team-title {
  font-family: "itc-souvenir-demi";
  color: #bdb7ad;
  color: #aa7950;
  font-size: 38px;
  font-size: 30px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  padding: 0.4rem 0.2rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.08rem; /* Height of the gradient border */
    background: linear-gradient(
      to right,
      #aa7950,
      transparent 25%,
      /* Adjust these percentages to control the movement */ #aa7950 50%,
      /* Adjust these percentages to control the movement */ transparent 75%,
      /* Adjust these percentages to control the movement */ #aa7950
    ); /* Gradient color */

    /* Add animation to the background-position */
    animation: moveGradient 10s linear infinite;
    background-size: 200% 100%; /* Double the width to allow for movement */
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust values for shadow color and size */
  }

  /* Define the animation keyframes */
  @keyframes moveGradient {
    0% {
      background-position: 100% 0; /* Start the gradient offscreen to the right */
    }
    100% {
      background-position: -100% 0; /* Move the gradient offscreen to the left */
    }
  }
}

.yin-yang-container {
  width: 40px;
  height: 40px;
  margin: 0 7px;
}

.yin-yang {
  width: 40px;
  height: 40px;
  position: relative;
}

.members-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 40px;
}

.meet-team {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.meet-team-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #bdb7ad;
  font-family: "Helvetica Neue";
}
.meet-team-title {
  text-align: left;
  font-family: "wintter-test";
  color: #aa7950;
  font-size: 27pt;
}

.meet-team-buttons {
  display: flex;
}

.member-button {
  width: 80px;
  height: 80px;
  margin: 0 10px;
}

.member-name-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
}

.member-name {
  font-family: "itc-souvenir";
  font-size: 25px;
  color: #aa7950;
  color: #bdb7ad;
  font-weight: 500;
  color: #5d5a54;
  margin-top: 0.2rem;
}

.member-title {
  font-size: 20px;
  margin-top: 2px;
  margin-left: 10px;
}
.team-members {
  margin-top: 1rem;
}

.team-member {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.profile-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.member-description {
  flex: 1;
  font-family: "sofia-pro";
  font-family: "campton-book";
  color: #bdb7ae; // I do like this
  color: rgb(188, 184, 184);
  color: #36252d;
  color: #757575;
  color: #5d5a54;
  font-size: 18px;
  background: #f7f6f0;
  background: none;
  text-align: left;
  margin-bottom: 3rem;
  // padding: 0 2rem;
  // letter-spacing: 0.01em;
}

/* Additional styles as needed */
