.apply-container {
  margin: 4rem 2rem;
}
.apply-title {
  font-family: "itc-souvenir-demi";
  color: #bdb7ad;
  color: #aa7950;
  font-size: 30px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  position: relative;
  width: 100%;
  text-align: left;
  margin-top: 2rem;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.08rem; /* Height of the gradient border */
    background: linear-gradient(
      to right,
      #aa7950,
      transparent 25%,
      /* Adjust these percentages to control the movement */ #aa7950 50%,
      /* Adjust these percentages to control the movement */ transparent 75%,
      /* Adjust these percentages to control the movement */ #aa7950
    ); /* Gradient color */

    /* Add animation to the background-position */
    animation: moveGradient 10s linear infinite;
    background-size: 200% 100%; /* Double the width to allow for movement */
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust values for shadow color and size */
    animation-delay: 2s;
  }

  /* Define the animation keyframes */
  @keyframes moveGradient {
    0% {
      background-position: 100% 0; /* Start the gradient offscreen to the right */
    }
    100% {
      background-position: -100% 0; /* Move the gradient offscreen to the left */
    }
  }
}
