.dashboard {
  background: url(../../assets/images/Background28.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  background: none;
}

.activity {
  background: #faf9f5;
  background: #f9f9f9;
  background: #e2e1da;
  background: rgb(244, 243, 237);
  /*   box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px; */
  border: 1px solid rgb(219, 211, 198);
  border-radius: 2rem;
  margin-top: 3rem;
  letter-spacing: 0.5px;
}

.activity-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.business-nav-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0.3rem;
  margin-left: -0.4rem;
}

.activity-item {
  color: #545454;
  color: #2f2f2f;
  background: rgba(183, 177, 167, 0.4470588235);
  background: rgb(218, 211, 190);
  background: rgba(183, 177, 167, 0.7607843137);
  background: #efeee9;
  background: #d7c4a8;
  background: rgb(204, 192, 174);
  background: rgb(224, 217, 206);
  background: #d0c5b4;
  color: white;
  width: 50%;
  border-radius: 2rem;
  text-align: center;
  font-weight: 500;
}

.business-nav-item {
  width: 6rem;
  font-family: "neutra-text";
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.business-nav-item:hover {
  color: #37252c;
}

.active {
  color: #aa7950;
  font-family: "neutra-text-2";
}

.activity-item-grey {
  margin: -0.1rem 10px 0 10px;
  padding-top: 10px;
  color: #ccc;
  text-align: center;
  width: 50%;
  margin: 0.2rem;
  padding: 0.1rem;
  font-weight: 500;
  margin-top: 10px;
}

.business-nav-grey {
  margin: 0rem 10px 0 10px;
  padding-bottom: 10px;
  color: #ccc;
}

.query {
  color: #ac9279;
  font-family: "freight-sans";
}

.top-suggestions-box {
  width: 100%;
  overflow-y: scroll;
  /* Optional: Add styling for scrollbar */
}
.top-suggestions-box ::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}
.top-suggestions-box ::-webkit-scrollbar-thumb {
  background-color: #aa7950; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}
.top-suggestions-box ::-webkit-scrollbar-track {
  background-color: #3d3d3a; /* Color of the scrollbar track */
}

.suggestions-scroll {
  max-height: 300px; /* Adjust the maximum height as needed */
}

.ranking-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 17px;
}

.ranking-number {
  font-weight: 600;
  margin-right: 20px;
}

.sort-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-user-suggestions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 3rem;
  border-radius: 10rem;
  color: rgb(122, 128, 134);
  letter-spacing: 0.6px;
  margin-left: 0.5rem;
  font-size: 12pt;
}

.user-sort-select-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: rgb(122, 128, 134);
  color: #8e8e8e;
}

.user-suggestion-sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: center;
}

input[type=date] {
  border: none;
  outline: none;
  background: none;
}

.tab-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.8rem;
  color: #716f6a;
}

.tabs {
  display: flex;
  position: relative;
  background: #f8f7f4;
  background-color: #f9f8f3;
  background: #fbfaf7;
  background: rgb(248, 247, 244);
  background-color: #faf9f6;
  background: #fbfaf7;
  background: #ece8dd;
  background: rgb(250, 249, 242);
  border: 0.2px solid #e9e5dc;
  padding: 0.12rem;
  border-radius: 99px;
}
.tabs * {
  z-index: 2;
}

input[type=radio] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 310px;
  font-size: 13pt;
  font-family: "basis-grotesque-med";
  color: #c5c0c0;
  color: #7a8086;
  color: #8c8c8c;
  color: #d1cfc8;
  border-radius: 2rem;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

input[type=radio]:checked + label {
  color: #746d6d;
  color: #9c6a48;
  color: #9a8c75;
  color: rgb(147, 127, 108);
  color: rgb(186, 168, 151);
  color: #9b7c68;
  color: #281e17;
  color: #5c5848;
}
input[type=radio]:checked + label > .notification {
  background-color: var(--primary-color);
  color: #fff;
  color: #a9784f;
}

input[id=radio-1]:checked ~ .glider {
  transform: translateX(0);
}

input[id=radio-2]:checked ~ .glider {
  transform: translateX(100%);
}

input[id=radio-3]:checked ~ .glider {
  transform: translateX(200%);
}

.glider {
  position: absolute;
  display: flex;
  height: 30px;
  width: 310px;
  background: rgb(194, 128, 56);
  background: rgb(186, 139, 76);
  background: rgb(219, 211, 198);
  background: rgb(231, 230, 225);
  background: rgb(219, 211, 198);
  background-color: #d0c5b4;
  background: rgba(183, 177, 167, 0.8274509804);
  background: #a89f91;
  background: rgb(249, 248, 245);
  background: rgb(222, 214, 203);
  background: #ece3cd;
  background: #d1cfc8;
  background: #d2d2ce;
  background: rgb(191, 177, 153);
  background: #d1cfc8;
  background: #ece8dd;
  background: #e9e5dc;
  background: #ccc6b6;
  background: #e6e2d6;
  background: rgb(250, 249, 242);
  background: #d8d2c0;
  background: rgb(224, 220, 207);
  background: #dad5c5;
  background: #e0dccf;
  background: #ece8dd;
  background: #ebe7e1;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
}