.dashboard {
  background: url(../../assets/images/Background27.jpg);
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activity {
  background: #faf9f5;
  background: #f9f9f9;
  background: #e2e1da;
  background: rgb(244, 243, 237);
  /*   box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px; */
  margin: 0rem 12rem 2rem 12rem;
  border: 1px solid rgb(219, 211, 198);
  border-radius: 2rem;
  margin-top: 3rem;
  letter-spacing: 0.5px;
}

.activity-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // border-top: 1.5px solid #eeeeee;
  // margin: 0.3rem 2rem;
  // border-image: url("../../assets/images/mainbackground.png") 30 round;
}

.business-nav-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  // border-bottom: 1.5px solid #eeeeee;
  // margin: 0.4rem 0.6rem; //real
  // margin: 0.4rem 0rem;
  // border-image: url("../../assets/images/mainbackground.png") 30 round;
}

.activity-item {
  // border-top: 2px solid #545454;
  // border-top: 2px solid #a9a2a2;

  // border-top: 3px solid #c6bdae;

  // // border-image: url("../../assets/images/mainbackground.png") 62 round;
  // border-top: 1px solid #a7a7a7;
  // border-top: 2px solid #c7bfaf;
  color: #545454;
  color: #2f2f2f;
  // margin: -0.1rem 10px 0 10px; real

  // padding-top: 10px;

  background: #b7b1a772;
  background: rgb(218, 211, 190);
  background: #b7b1a7c2;
  background: #efeee9;
  background: #d7c4a8;
  background: rgb(204, 192, 174);
  background: rgb(224, 217, 206);
  background: #d0c5b4;
  color: white;
  width: 50%;
  border-radius: 2rem;
  text-align: center;
  //margin: 0.15rem;
  font-weight: 500;
}

.business-nav-item {
  /*  border-top: 2px solid #545454;
  border-top: 2px solid #a9a2a2;

  border-top: 3px solid #c6bdae; */

  // border-image: url("../../assets/images/mainbackground.png") 62 round;
  /*   border-bottom: 1px solid #a7a7a7;
  border-bottom: 2px solid #5bab5c; */
  color: #545454;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 0rem 10px -2px 0px;
}

.activity-item-grey {
  margin: -0.1rem 10px 0 10px;
  padding-top: 10px;
  color: #ccc;
  text-align: center;
  width: 50%;
  margin: 0.2rem;
  padding: 0.1rem;
  font-weight: 500;
  margin-top: 10px;
}

.business-nav-grey {
  margin: 0rem 10px 0 10px;
  padding-bottom: 10px;
  color: #ccc;
}
.query {
  color: #ac9279;
  font-family: "freight-sans";
}

.top-suggestions-box {
  max-height: 25rem;
  overflow-y: scroll;
  padding: 0.8px;
  // background: #eeeeee;
  flex: 1;
  width: 40rem;
  border-radius: 0.3rem;
  margin-top: 1rem;

  // background: #f4f3ed;

  // border-top: 1px solid #eeeeee;
}

.ranking-number {
  font-weight: 600;
  margin-left: 5px;
  margin-right: 10px;
}

.sort-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-user-suggestions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 3rem;
  border-radius: 10rem;
  color: rgb(122, 128, 134);
  letter-spacing: 0.6px;
  margin-left: 0.5rem;
  font-size: 12pt;
}

.user-sort-select-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  color: rgb(122, 128, 134);
  color: #8e8e8e;
}

.user-suggestion-sort {
  display: flex;
  flex-direction: row;
}

input[type="date"] {
  border: none;
  outline: none;
  background: none;
}

// beginning of slide bar
.tab-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.8rem;
  color: #716f6a;
}
.tabs {
  display: flex;
  position: relative;
  background: #f8f7f4;
  background-color: #f9f8f3;
  background: #fbfaf7;
  background: rgb(248, 247, 244);
  background-color: #faf9f6;
  background: #fbfaf7;
  background: #ece8dd; // beautiful color
  background: rgb(250, 249, 242);
  border: 0.2px solid #e9e5dc;
  padding: 0.12rem;
  //border: 0.2px solid rgb(219, 211, 198);
  border-radius: 99px; // just a high number to create pill effect
  * {
    z-index: 2;
  }
}

input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 310px;
  font-size: 13pt;
  font-family: "basis-grotesque-med";
  color: #c5c0c0;
  color: #7a8086;
  color: #8c8c8c;
  color: #d1cfc8;
  border-radius: 2rem; // just a high number to create pill effect
  cursor: pointer;
  transition: color 0.15s ease-in;
}

input[type="radio"] {
  &:checked {
    & + label {
      color: #746d6d;
      color: #9c6a48;
      color: #9a8c75;
      color: rgb(147, 127, 108);
      color: rgb(186, 168, 151);
      color: #9b7c68;
      color: #281e17;
      color: #5c5848;
      & > .notification {
        background-color: var(--primary-color);
        color: #fff;
        color: #a9784f;
      }
    }
  }
}

input[id="radio-1"] {
  &:checked {
    & ~ .glider {
      transform: translateX(0);
    }
  }
}

input[id="radio-2"] {
  &:checked {
    & ~ .glider {
      transform: translateX(100%);
    }
  }
}

input[id="radio-3"] {
  &:checked {
    & ~ .glider {
      transform: translateX(200%);
    }
  }
}

.glider {
  position: absolute;
  display: flex;
  height: 30px;
  width: 310px;
  background: rgb(194, 128, 56);
  background: rgb(186, 139, 76);
  background: rgb(219, 211, 198);
  background: rgb(231, 230, 225);
  background: rgb(219, 211, 198);
  background-color: #d0c5b4;
  background: rgba(183, 177, 167, 0.8274509804);
  background: #a89f91;

  background: rgb(249, 248, 245);
  background: rgb(222, 214, 203);
  background: #ece3cd;
  background: #d1cfc8;
  background: #d2d2ce;
  background: rgb(191, 177, 153);
  background: #d1cfc8;
  background: #ece8dd;
  background: #e9e5dc;
  background: #ccc6b6;
  background: #e6e2d6;
  background: rgb(250, 249, 242);
  background: #d8d2c0;
  background: rgb(224, 220, 207);
  background: #dad5c5;
  background: #e0dccf;
  background: #ece8dd;
  background: #ebe7e1;
  // border: 1px solid #9c6a48;
  z-index: 1;
  border-radius: 99px; // just a high number to create pill effect
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
}
