@import url("https://fonts.cdnfonts.com/css/helvetica-neue-9");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans&family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@300&family=Noto+Sans&family=Questrial&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1efe7;
  background: #f2f0ea;
  background: #f8f6f3;
  /* background: #fffaec; alice mushroom */
  background: #fffaec;
  background: #f8f6f3;
  background: #fffaec;
  background: #f4f2ea;
  background: #f8f4ed;
  background: url(./assets/images/white-background-texture.jpg);
  background: linear-gradient(60deg, #f5f1e5, #faf9f3);
  background: #fffaf2;
  background: #f5f1e5;
  background: #f4f2eb;
  background: #f4f2ea;
  background: url(./assets/images/white-page-texture.png);
  background: #f5f4f2;
  background: #f5f5f5;
  background: #faf3e0;
  background-image: linear-gradient(#fdfdfd, #f5f5f5);
  background: rgb(236, 233, 233);
  background: #f5f1e5;
  background: #fefdf6;
  background: #f4f3ec;
  background: url(./assets/images/white-page-texture.png);
  background: url(./assets/images/magic-pattern.png);
  background: url(./assets/images/wood-lines.png);
  background: #f7f6f0;
  background: url(./assets/images/natural-backdrop.png);
}

@media (max-width: 768px) {
  body {
    background: linear-gradient(60deg, #f5f1e5, #faf9f3);
    background: #fffaf2;
    background: #f5f1e5;
    background: #f7f6f0;
    background: url(./assets/images/white-page-texture.png);
    background: url(./assets/images/magic-pattern.png);
    background: url(./assets/images/wood-lines.png);
    background: url(./assets/images/natural-backdrop.png);
    margin: 0;
  }
}

select {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "itc-souvenir";
  font-family: "itc-souvenir";
  color: #36252d;
  font-size: 40px;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: "wintter-test";
  font-family: "itc-souvenir-demi";
  color: #36252d;
  font-size: 14pt;
  font-weight: 500;
  letter-spacing: 0.2px;
}

input {
  margin: 0;
  padding: 0;
}

/* Fonts  */

@font-face {
  font-family: "hippie-mojo";
  src: url("./assets/fonts/hippie-mojo/hippie-mojo.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/hippie-mojo/hippie-mojo.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "itc-souvenir";
  src: url("./assets/fonts/itc-souvenir/itc-souvenir.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/itc-souvenir/itc-souvenir.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "itc-souvenir-demi";
  src: 
    /* Super Modern Browsers */ url("./assets/fonts/itc-souvenir/Souvenir-Demi.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "wintter-test";
  src: url("./assets/fonts/wintter-font-test/Wintter.woff") format("woff");
  /* Super Modern Browsers */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "neutra-text";
  src: url("./assets/fonts/neutra-text/Neutraface\ Text\ Book.woff")
    format("woff");
  /* Super Modern Browsers */
  font-style: medium;
}

@font-face {
  font-family: "neutra-text-2";
  src: url("./assets/fonts/neutra-face-2/Neutra2Text-Demi.woff");
  /* Super Modern Browsers */
  font-weight: medium;
}

@font-face {
  font-family: "neutra-text-med";
  src: url("./assets/fonts/neutra-medium/Neutra\ Display\ Medium.woff");
  /* Super Modern Browsers */
  font-weight: 500;
}
