.milestone-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.milestone-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.milestone {
  margin-right: 10rem;
}

.milestone-update {
  position: relative;
  /* Define the animation keyframes for the left border */
}
.milestone-update::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0.04rem; /* Width of the gradient border */
  background: linear-gradient(to bottom, #aa7950, transparent 25%, #aa7950 50%, transparent 75%, #aa7950); /* Gradient color */
  animation: moveGradientLeft 10s linear infinite;
  background-size: 100% 200%; /* Double the height to allow for movement */
}
@keyframes moveGradientLeft {
  0% {
    background-position: 0 100%; /* Start the gradient offscreen at the bottom */
  }
  100% {
    background-position: 0 -100%; /* Move the gradient offscreen to the top */
  }
}

.milestone-title {
  font-size: 20px;
  font-family: "neutra-text-2";
  margin-bottom: 10px;
  text-align: left;
  /*   background: rgba(88, 87, 87, 0.5);
  box-shadow: 0 2px 4px rgba(185, 182, 182, 0.1);
  color: rgb(49, 48, 48);
  color: rgb(6, 6, 6);
  border: 1px solid #d6d6d6;
  padding: 0.2rem 0.7rem;
  border-radius: 20px;
  border: 1px solid #d6d6d6;
  background: none; */
  color: #6764ea;
  color: #36353c;
  padding: 0.2rem 0.7rem;
  border-radius: 20px;
  border: 1px solid #d6d6d6;
  display: flex;
  align-items: center;
}

.actual-milestone {
  padding-top: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actual-milestone-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.actual-milestone-content {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  margin: 0;
  font-weight: 500;
  color: #2f2f2f;
  width: 10rem;
  margin-left: 30px;
}
.actual-milestone-content .text {
  font-family: "neutra-text-2";
  font-size: 14px;
  color: #8e8e8e;
}

.milestone-dot {
  width: 10px;
  height: 10px;
  background: #aa7950;
  margin-left: -3px;
  border-radius: 50%;
  position: relative;
  z-index: 1000;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.last-milestone-dot {
  position: relative;
}

.last-milestone-dot::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  box-shadow: 0 0 0 1px #aa7950;
  border-radius: 50%;
  box-sizing: border-box;
  animation: grow-shrink 2s infinite alternate; /* Adjust the animation duration as needed */
}

.last-milestone-dot.active::before {
  box-shadow: 0 0 0 5px #aa7950; /* Adjust the final shadow size as needed */
}

@keyframes grow-shrink {
  0% {
    box-shadow: 0 0 0 2px #aa7950;
  }
  100% {
    box-shadow: 0 0 0 3px #aa7950; /* Adjust the final shadow size as needed */
  }
}
.toggle-button {
  box-shadow: 0 2px 4px rgba(185, 182, 182, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 2px 8px;
  border: none;
  border-radius: 10rem;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 10pt;
  letter-spacing: 0.5px;
  color: rgb(49, 48, 48);
  text-transform: lowercase;
  background-color: rgba(211, 208, 208, 0.5098039216);
  background: #cfb59e;
  font-weight: 600;
  border: 1px solid #ccc; /* Add a border for separation */
  border: 1px solid rgb(224, 224, 217);
}
.toggle-button:hover {
  background-color: #e0e0e0;
}

.project-incompleted {
  padding-top: 4rem;
  padding-right: 5rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  color: #cecaca;
}

.incomplete-dot {
  width: 10px;
  height: 10px;
  background: #d6d6d6;
  margin-left: -3px;
  border-radius: 50%;
  margin-right: 1rem;
  position: relative;
  z-index: 1000;
}