.info {
  color: #272626;
  white-space: nowrap;
  height: 160px;
  width: 100%;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center content horizontally */
  align-items: center;
  margin: 0rem 2.6rem 0 2.6rem;
}

.profile {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.profile-info {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: space-between;
  justify-content: space-between;
  padding: 0.5rem 0rem;
  margin-left: 1.5rem;
}

.hexagon-gradient {
  position: absolute;
  z-index: -2;
  animation-name: rotateHexagon;
  animation-duration: 9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  width: 123px;
  height: 128px;
  margin-left: 5px;
  margin-top: -2px;
}

@keyframes rotateHexagon {
  0% {
    transform: scale(1) rotate(-7deg);
  }
  25% {
    transform: scale(1) rotate(7deg);
  }
  50% {
    transform: scale(1) rotate(-7deg);
  }
  75% {
    transform: scale(1) rotate(-7deg);
  }
  100% {
    transform: scale(1) rotate(14deg);
  }
}
.info-avatar-wrapper {
  position: relative;
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.avatar-background {
  position: absolute; /* Position the background image absolutely within the container */
  z-index: 1000; /* Place the background image behind the avatar */
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "hippie-mojo";
}

.user-info-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

.detailed-brand-info-row {
  display: flex;
  flex-direction: row;
  margin-top: 1.3rem;
}

.industry-row {
  color: #757575;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.location-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.other-user-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
}

.user-action-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: none;
  width: 35px;
}

.user-action-button.follow {
  border: none;
  font-family: "Inter";
  font-family: "itc-souvenir";
  font-size: 16px;
  font-weight: 500;
}

.info-share {
  background: none;
  border: none;
}

.action-buttons button:nth-child(2) {
  margin-left: 0.5rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 1rem;
  margin-top: 2.5rem;
}

.cell {
  background: #edece9;
  background: rgb(224, 224, 224);
  background: #e5e5e5;
  background: #f1f1f1;
  background: #faf9f5;
  background: #efefef;
  background: #efe9dd;
  background: #ededed;
  background: #ddd3c4;
  background: none;
  color: #272626;
  color: #8e8e8e;
  color: #37252c;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 25px;
}

.member-since {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #37252c;
  margin-top: 10px;
  font-weight: 400;
  font-size: 19px;
  font-family: "neutra-text-2";
}
.member-since button {
  background: #e8e5dd;
  background: #d8d6d8;
  background: #f9f9f9;
  background: #e2dddd;
  background: #d3c7b7;
  background: #e3d7c7;
  background: #e6dcc8;
  background: #e1d5c5;
  background: #dcd3d3;
  background: #dedfe2;
  background: #dbdada;
  background: #939392;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: 0 2px 4px rgba(185, 182, 182, 0.1); /* Add the box shadow here */
  color: white;
  margin-left: 10px;
  border-radius: 25px;
  padding: 3px 9px;
  font-size: 15px;
}

@media (max-width: 768px) {
  .member-since {
    font-size: 15px;
  }
}
.member-since-date {
  font-weight: 500;
  color: #281e17;
  margin-left: 5px;
  font-weight: 600;
}

.member-since-date-user {
  color: #281e17;
  color: #37252c;
  margin-left: 5px;
  font-family: "neutra-text-2";
}

.member-since-text {
  font-family: "neutra-text-2";
}

.follower-cell {
  padding: 0.3rem 0.5rem 0.3rem 2.2rem;
  color: #272626;
  border-radius: 40px;
  white-space: nowrap;
  background: #efe9dd;
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.strength {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.1rem;
}

.light {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-left: 2px;
}

.green {
  background-color: #5bab5c;
}

.white {
  background-color: #8e8e8e;
}

.white-text {
  color: white;
  font-weight: 500;
}

.left {
  margin-left: 0.3rem;
}
.left::first-letter {
  text-transform: uppercase;
}

.right {
  margin-right: 0.25rem;
}

.username {
  font-size: 22px;
  color: #191919;
  color: #514f4f;
  color: #aa7950;
  color: #37252c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "neutra-text-2";
  line-height: 22px;
  font-weight: 400;
}

.username-badge {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.emphasis {
  color: #5d9345;
  margin: 0 0.3rem;
  font-weight: 700;
}

.bio-emphasis {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #281e17;
  color: #aa7950;
  color: #8e8e8e;
  color: #aa7950;
  color: #37252c;
  color: rgb(82, 80, 80);
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "sofia-pro";
  font-weight: 500;
}

.space {
  margin-left: 0.4rem;
}

.bio-emphasis-text {
  color: #37252c;
  color: #757575;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 0.2rem;
  margin-left: 0.3rem;
}

.bio-emphasis-date {
  font-size: 18px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "sofia-pro";
  margin-left: 0.4rem;
}

.extra-followers {
  height: 32px;
  width: 32px;
  border: 1px solid #fafafa;
  background: #5d9345;
  background: #5bab5c;
  border-radius: 50%;
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 8pt;
  font-weight: 600;
  color: #fafafa;
}

.extra-support {
  background: #ddd3c4;
  background: #c4baa8;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.brown {
  background: #ab784c;
  background: #c4baa8;
  padding: 0.2vw 1vw;
  margin-top: 3vh;
}

.top {
  margin-top: 0.4rem;
  margin-right: 0.4rem;
}

.bio {
  margin-top: 0.3rem;
}

.info-settings-container {
  display: flex;
  flex-direction: row;
}

.settings-form {
  z-index: 10000;
  background: blue;
}

.settings-icon {
  width: 1.2rem;
  height: 1.2rem;
}