.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #272626;
  white-space: nowrap;
  margin: 4rem 4rem 0 4rem;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7.5rem;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 100%;
  height: 100%;
  margin-left: 2rem;
  margin-top: 1.4rem; //real added for promot
}

.action-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "hippie-mojo";
}

.user-info-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.detailed-brand-info-row {
  display: flex;
  flex-direction: row;
  margin-top: 1.3rem;
}

.industry-row {
  color: #757575;
  margin-left: 1rem;
}

.location-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.other-user-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  margin-top: 0.8rem; //real added for promo
}

.user-action-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: none;
  width: 35px;
}

.user-action-button.follow {
  border: none;
  font-family: "Inter";
  font-family: "itc-souvenir";
  // font-size: 13px;
  font-size: 16px;
  font-weight: 500;
  //letter-spacing: 1.5pt; works with hippie mojo
}

.info-share {
  background: none;
  border: none;
}

.action-buttons button:nth-child(2) {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 1rem;
  margin-top: 2.5rem;
}

.cell {
  background: #edece9;
  background: rgb(224, 224, 224);
  background: #e5e5e5;
  background: #f1f1f1;
  background: #faf9f5;

  background: #efefef;

  background: #efe9dd;
  background: #ededed;
  background: #ddd3c4;
  background: none;

  padding: 0.3rem 0;
  color: #272626;
  border-radius: 40px;
  white-space: nowrap;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.member-since {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #757575;
  font-size: 17px;

  button {
    border: none;
    background: #e8e5dd;
    margin-left: 10px;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 15px;
  }
}

.member-since-date {
  font-weight: 500;
  color: #281e17;
  margin-left: 5px;
  font-weight: 600;
}

.follower-cell {
  padding: 0.3rem 0.5rem 0.3rem 2.2rem;
  color: #272626;
  border-radius: 40px;
  white-space: nowrap;
  background: #efe9dd;
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.strength {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.1rem;
}

.light {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-left: 2px;
}

.green {
  background-color: #5bab5c;
}

.white {
  background-color: #8e8e8e;
}

.white-text {
  color: #ffff;
  font-weight: 500;
}

.left {
  margin-left: 0.25rem;
}

.right {
  margin-right: 0.7rem;
}

.username {
  font-size: 20px;
  color: #281e17;
  font-weight: 500;
}

.username-badge {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.emphasis {
  color: #5d9345;
  margin: 0 0.3rem;
  font-weight: 700;
}

.bio-emphasis {
  font-size: 12pt;
  color: #281e17;
  font-weight: 500;
  margin-left: 0.1rem;
}

.extra-followers {
  height: 32px;
  width: 32px;
  border: 1px solid #fafafa;
  background: #5d9345;
  background: #5bab5c;
  border-radius: 50%;
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 8pt;
  font-weight: 600;

  color: #fafafa;
}

.extra-support {
  background: #ddd3c4;
  background: #c4baa8;

  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.brown {
  background: #ab784c;
  background: #c4baa8;
  padding: 0.2vw 1vw;
  margin-top: 3vh;
}

.top {
  margin-top: 0.4rem;
  margin-right: 0.4rem;
}

.bio {
  margin-top: 0.3rem;
}
