.name {
  padding: 0.2rem 0.5rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fafafa;
  margin-left: 0.5rem;
}

.user {
  background: #fdfbfb;
  color: #404040;
}

.bold {
  margin-left: 0.5rem;
}

.brand {
  background: #ab784c;
}

.idea {
  background: #5d9345;
}

.brand-suggestion-container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  flex: 1;
  font-weight: 400;
  font-size: 12pt;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 1rem;
}
.brand-suggestion-container.first {
  margin-top: 25px; /* Apply the desired margin for the first element */
}

.brand-subtle-suggestion-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #c5c0c0;
  color: #8c8c8c;
  font-size: 8pt;
  font-weight: 600;
  letter-spacing: 1.4px;
}

.brand-suggestion-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  margin: 0;
  font-weight: 500;
  color: #2f2f2f;
}

.ranking-progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 2px;
  /*   background-image: url(../../../assets/images/followbutton4.png);
  background-size: 100% 300%; */
  background-size: 100% 100%;
  width: 8rem;
  width: 7.5rem;
  color: #aa7950;
  padding: 0.4rem 0.3rem;
  border-radius: 0.3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "itc-souvenir";
  font-size: 13pt;
}

.brand-supporter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 10rem;
}

.suggestion-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.suggestion-form-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 4rem;
  flex: 1;
  height: 100%;
  width: 100%;
  padding-bottom: 15px;
  font-family: "neutra-text-2";
  position: relative; /* Add this for positioning */
}
.suggestion-form-container select {
  border: none;
  padding: 6px 10px;
  border-radius: 15px;
  outline: none;
}

.suggestion-form-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.2px; /* Height of the gradient border */
  background: linear-gradient(to right, #aa7950, transparent 25%, #aa7950 50%, transparent 75%, #aa7950); /* Gradient color */
  /* Add animation to the background-position */
  animation: moveGradient 20s linear infinite;
  background-size: 200% 100%; /* Double the width to allow for movement */
}

/* Define the animation keyframes */
@keyframes moveGradient {
  0% {
    background-position: 100% 0; /* Start the gradient offscreen to the right */
  }
  100% {
    background-position: -100% 0; /* Move the gradient offscreen to the left */
  }
}
.suggestion-form-content {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.suggestion-form-content div {
  margin-left: 10px;
}

.form-input {
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.suggestion-input {
  border: hidden;
  text-decoration: none;
  outline: none;
  background: none;
  width: 100%;
  flex: 1;
  padding: 0;
}
.suggestion-input::placeholder {
  color: #bdb8b0;
}

.create-suggestion-button {
  border: none;
  background: none;
  color: #aa7950;
  margin-right: 0.3rem;
}

.suggestion-type-button:active {
  border: none;
  background: #5bab5c;
  background: #edebdc;
  background: rgb(224, 217, 206);
  background: #c4bca6;
  background: #b7b1a7;
  color: #5c5848;
  padding: 0.3rem 0.6rem;
}

.suggestion-type-button:hover {
  border: none;
  background: #e7e5d9;
  background: #f4f3ed;
  background: #5bab5c;
  background: #b7b1a7;
  color: #5c5848;
  padding: 0.3rem 0.6rem;
}

.suggestion-type-button {
  border: none;
  border-radius: 20px;
  color: rgb(30, 29, 29);
  padding: 0.3rem 0.6rem;
  color: rgb(65, 62, 62);
  color: #5c5848;
  color: white;
  background: #d1cbbc;
  background: #f4f3ed;
  background: #e9e5dc;
  background: rgb(224, 217, 206);
  background: #efefef;
  background: #c4bca6;
  background: #b7b1a7;
}

.suggestion-type-button.green {
  background: #e9e5dc;
  background: #b7b1a7;
  color: #5c5848;
  color: white;
}

.fa-check {
  display: inline;
}

.top-milestones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ebe7e1;
  background: #e8e6da;
  background: #f7f6f0;
  /*   background-image: url(../../../assets/images/followbutton4.png);
  background-size: 100% 300%; */
  background: #e9e5dc;
  background-image: url(../../../assets//images/top-milestones.jpeg);
  background-size: 100% 100%;
  background: #ab784c;
  background: #d9d6cc;
  background: #c6ba9d;
  background: none;
  color: #5c5848;
  color: #f7f6f0;
  color: #aa7950;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  width: 7.6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "itc-souvenir";
  font-size: 11pt;
}

/* Apply custom styles to the select element */
.suggestion-select {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  /* Add your custom styles here */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #272727;
  font-weight: 500;
  font-size: 10pt;
  letter-spacing: 1.1px;
  position: relative; /* Ensure relative positioning for arrow */
  margin-left: -3px;
}