.brand-info {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  flex: 1;
}

.brand-info-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
  justify-content: space-between;
  margin-left: 1.5rem;
}

.brand-user-follow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.username-verified {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
}

.brand-action-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: 2rem;
}

.chart-select {
  background: none;
  border: none;
  outline: none;
  color: #2f2f2f;
  color: #a9784f;
  color: #b7b1a7;
  color: #281e17;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14pt; // worked well with helvetica neue
  // letter-spacing: 0.9px; //worked with hippiemojo
  color: #281e17;
  color: #a9784f;
  color: #333333;
  color: #281e17;
  color: #554f32;
  color: #36252d;
  font-family: "wintter-test";
  letter-spacing: 0.5px;
}

.sort-select {
  background: none;
  border: none;
  outline: none;
  color: #2f2f2f;
  font-weight: 600;
  -webkit-appearance: none; /* Removes default Safari styling */
  appearance: none; /* Future-proofing for other browsers */
  border-radius: 0; /* Optional: To remove default rounded corners */
  background-color: transparent; /* Or any desired color */
}

.sort-select::-ms-expand {
  display: none; /* For IE/Edge */
}

.caret-down {
  width: 10px;
  height: 10px;
  margin-left: 0.2rem;
}

.sort-select-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.top-brands-sort-select-container {
  position: relative; /* Make the container a positioning context */
}

.unverified {
  background: #efefef;
  padding: 2px 8px;
  border-radius: 10rem;
  font-size: 10pt;
  color: rgb(49, 48, 48);
  text-align: center;
  margin-left: 3px;
}

.parent-brand {
  color: #2f2f2f;
  text-decoration: none;
}

.info-location {
  color: #757575;
  font-size: 17px;
}

.info-website {
  color: #757575;
  font-size: 17px;
}
