.brand-info {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  flex: 1;
}

.brand-info-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
  justify-content: space-between;
  margin-left: 1.5rem;
}

@media (max-width: 768px) {
  .brand-info-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    justify-content: space-between;
    margin-left: 1rem;
  }
}
.brand-user-follow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.username-verified {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
}

.brand-action-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: 2rem;
}

@media (max-width: 768px) {
  .brand-action-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: 0rem;
  }
}

.chart-select {
  background: none;
  border: none;
  outline: none;
  color: #2f2f2f;
  color: #a9784f;
  color: #b7b1a7;
  color: #281e17;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14pt; // worked well with helvetica neue
  // letter-spacing: 0.9px; //worked with hippiemojo
  color: #281e17;
  color: #a9784f;
  color: #333333;
  color: #281e17;
  color: #554f32;
  color: #36252d;
  font-family: "itc-souvenir-demi";
  letter-spacing: 0.2px;
  font-style: italic;
}

.sort-select {
  background: none;
  border: none;
  outline: none;
  color: #2f2f2f;
  font-weight: 600;
  margin-left: 0.3rem;
  -webkit-appearance: none; /* Removes default Safari styling */
  appearance: none; /* Future-proofing for other browsers */
  border-radius: 0; /* Optional: To remove default rounded corners */
  background-color: transparent; /* Or any desired color */
  font-family: "sofia-pro";
  max-width: none; /* Allow the options to expand based on content */
}

.sort-select::-ms-expand {
  display: none; /* For IE/Edge */
}

.caret-down {
  width: 10px;
  height: 10px;
}

.sort-select-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.unverified {
  background: #efefef;
  background: #e2dddd;
  background: rgba(97, 74, 74, 0.5);
  background: rgba(255, 253, 253, 0.5);
  box-shadow: 0 2px 4px rgba(185, 182, 182, 0.1); /* Add the box shadow here */
  padding: 2px 8px;
  border-radius: 10rem;
  font-size: 10pt;
  color: rgb(49, 48, 48);
  text-align: center;
  margin-left: 5px;
  letter-spacing: 0.5px;
}

.parent-brand {
  color: #2f2f2f;
  text-decoration: none;
}

.info-location {
  color: #757575;
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.specific-info {
  margin-left: 0.5rem;
}

.city {
  color: #14242d;
  font-family: "sofia-pro";
  font-weight: 500;
  text-transform: capitalize;
}

.small-info {
  margin-top: -5px;
  text-transform: lowercase;
  color: #838385;
  font-size: 14px;
}

@media (max-width: 768px) {
  .info-location {
    font-size: 15px;
  }
}

.info-website {
  color: #2d6da6;
  color: #37252c;
  color: #757575;
  color: #00376b;
  font-weight: 300;
  font-size: 17px;
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .info-website {
    font-size: 16px;
    margin-left: 0rem;
  }
}

.link-icon {
  width: 15px;
  height: 15px;
  margin-right: 0.3rem;
}

.tree-icon {
  width: 20px;
  height: 20px;
}
