// contact-us.scss

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 103vh;
}

.contact-us-container {
  width: 60%;
  height: auto;
  margin-top: 6rem;
}

.contact-us-title {
  font-family: "itc-souvenir-demi";
  font-size: 35px;
  color: #36252c;
  color: #181a1d;
  display: flex;
  align-items: center;
}

.contact-us-textbox {
  border: 1.5px solid #cac3b2;
  border: 1.5px solid #b68862;
  border: 1px solid #cac3b2;
  border: 1px solid rgb(204, 204, 204);
  background: #e0e0e0;
  background: #e4e3e3; // pretty color

  border-radius: none;
  margin-top: 2rem;
  min-height: 10rem;
}

form {
  margin-top: 2rem;

  label {
    font-size: 16px;
    color: #ccc;
    color: #000;
    width: 100%;
    margin-right: auto; // Align the button to the right
    display: block;
    text-align: left;
    margin-bottom: 0.2rem;
  }

  input,
  textarea {
    width: 100%;
    padding: 3px 3px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border: 2px solid #cac3b2;
    transition: border-color 0.3s;
    background: none;
    text-align: left;

    &:focus {
      outline: none;
    }
  }

  textarea {
    resize: vertical;
  }

  .character-limit {
    text-align: right;
    margin-top: -10px; /* Adjust the margin as needed */
    margin-bottom: 20px;
  }

  button[type="submit"] {
    background-color: #ad937a;
    background: #e1dada;
    background: rgba(97, 74, 74, 0.5);
    background: #9d9090;
    background: linear-gradient(
      109.6deg,
      rgb(242, 219, 148) 10%,
      rgb(242, 211, 153) 30%,
      rgb(242, 192, 162) 60%
    );
    background: linear-gradient(
      109.6deg,
      rgb(242, 219, 148) 10%,
      rgb(242, 211, 153) 30%
    );
    background: #f5995e;
    background: linear-gradient(
      109.6deg,
      rgb(217, 160, 124) 30%,
      rgb(245, 153, 94) 70%
    );
    background: linear-gradient(
      40deg,
      rgb(236, 190, 163) 10%,
      rgb(245, 153, 94) 70%
    );
    background: rgba(245, 153, 94, 0.85);
    background: #ecae7c;
    background-image: radial-gradient(
      103.73% 266.85% at 0% 16.08%,
      rgb(223, 174, 146) 0%,
      #ecae7c 38.44%,
      #ecae7c 100%
    );
    background-image: radial-gradient(
      103.73% 266.85% at 0% 16.08%,
      #ecae7c 0%,
      #f0b46f 38.44%,
      #ecae7c 100%
    );
    background: rgb(94, 94, 71);
    background: #ebbc6d;
    background: #c49d7d;

    background: #591623; // pretty color

    background: linear-gradient(45deg, #ebbc6d 20%, #d9a407);
    background: #d9a407; // this is a pretty color too

    background: #35252c;
    background-image: radial-gradient(
      103.73% 266.85% at 0% 16.08%,
      #35252c,
      #520f15
    );
    background-image: linear-gradient(30deg, #591623, #35252c94);
    background: #5d2032;
    background-image: linear-gradient(130deg, #591623, #882e2a);
    background-image: radial-gradient(
      103.73% 266.85% at 0% 16.08%,
      #ecae7c 0%,
      #f0b46f 38.44%,
      #e0a06c 100%
    ) !important;
    background: #f0b46e !important;
    background: radial-gradient(
      103.73% 266.85% at 0% 16.08%,
      #cf8355 0%,
      #ceaf85 38.44%,
      #dbb88e 100%
    ) !important;
    background: radial-gradient(
      103.73% 266.85% at 0% 16.08%,
      #e69b6d 0%,
      #f0b46e 38.44%,
      #dbb88e 100%
    ) !important;
    color: #083136;
    font-size: 16px;
    background: #ffa177 !important;
    background: linear-gradient(130deg, #ffa177, #af465b) !important;
    background-size: 200% 200%;
    background: #083136 !important;
    background: #352531 !important;

    padding: 15px 30px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    width: 100%;
    border-radius: 20rem;

    &:hover {
      /*  background-color: #aba9a6;
      background: #a99ca2;
      background: #35252cca;
      background: #520f15;
      background: #f24405;
      background: #f25405;
      background: #5d2032;
      background: #591623; */
      background: #f0b46e !important;
      background: #40293b !important;
    }
  }
}
