.signin-redirect {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  margin-top: 1rem;

  div {
    text-decoration: underline;
    margin-left: 3px;
  }
}

.business-form-redirect {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-top: 1rem;

  button {
    border-radius: 25px;
    // background: rgba(140, 133, 119, 0.7);
    background-color: #c9bfad;
    background: #d6d4d5;
    border: 1px solid #e7e5dd;

    font-family: "Helvetica Neue";
    font-size: 15px;
    padding: 5px 12px;
    margin-left: 5px;
    color: #000000;
  }

  button:hover {
    background: #aa9b82;
    background: #b7b6b6;
    color: white;
  }
}

.signup-header {
  font-size: 24px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 160px;
}

.brand-form-checkbox {
  display: flex;
}

.sign-up-brand-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.sign-up-brand {
}
